alabaster==0.7.12
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
charset-normalizer==2.0.4
cycler==0.10.0
-e git+git@github.com:distdl/distdl@6085d7f411d7e6ad0be20c83acd03dea1e69897a#egg=distdl
docutils==0.17.1
flake8==3.9.2
idna==3.2
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==3.0.1
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
mpi4py==3.1.1
mpi4py-fft==2.0.4
numpy==1.21.2
packaging==21.0
Pillow==8.3.1
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-mpi==0.5
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
torch==1.9.0
typing-extensions==3.10.0.2
urllib3==1.26.6
